<div class="container">
    <img src="/assets/images/404.png" />
    <h1>Page Not Found</h1>
    <p>
        We’re sorry, the page you requested could not be bound
        Please go back to the home page
    </p>
    <button class="btn btn-primary" @onclick="@GoHome"> Go Home </button>
</div>