@using BlazorCrudPractice.Client.Pages
@inherits LayoutComponentBase

<div class="page">
    <AuthorizeView>
        <Authorized>
            <div class="sidebar">
                <NavMenu></NavMenu>
            </div>
        </Authorized>
    </AuthorizeView>

    <main>
        <AuthorizeView>
            <Authorized>
                <div class="top-row px-4">
                    <LoginDisplay></LoginDisplay>
                </div>
            </Authorized>
        </AuthorizeView>

        <!-- Main content goes here -->
        @Body
    </main>
</div>

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />
